<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Table</title>
    <link rel="stylesheet" href=" https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js">
    <style>

    #section1{
        /* display: inline-block; */
        border: 2px solid black;
        text-align: center;
    }
    .tbl tr td,.tbl tr th{
        height: 40px;
        width: 73px;
        text-align: center;
    }
    .tblHeading td{
        font-size: 2em;
    }
    .tbl{
        display: inline-block;
        /* margin: 5px; */
    }
    #section2{
        /* display: inline-block; */
        border: 2px solid black;
        text-align: center;
    }
    </style>
</head>
<body>
   <section id="section1">
        <table id="table1" border="2px" class="tbl">
            <tr class="tblHeading">
                <td colspan="8">
                    Time table:BS(SE) 1st-Morning
                </td>
            </tr>
            <tr>
                <th>S.N</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Tharsday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <th>1</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>2</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>3</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>4</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>5</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>6</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
        </table>
        <!-- ------------------------------ -->
        <table id="table2" border="2px" class="tbl">
            <tr class="tblHeading">
                <td colspan="8">
                        Time table:BS(SE) 1st-Morning
                </td>
            </tr>
            <tr>
                <th>S.N</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Tharsday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <th>1</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>2</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>3</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>4</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>5</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
            <tr>
                <th>6</th>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
                <td>fg</td>
            </tr>
        </table>
   </section>
   <section id="section2">
    <table id="table1" border="2px" class="tbl">
        <tr class="tblHeading">
            <td colspan="8">
                    Time table:BS(SE) 1st-Morning
            </td>
        </tr>
        <tr>
            <th>S.N</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Tharsday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            <th>1</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>2</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>3</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>4</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>5</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>6</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
    </table>
    <!-- ------------------------------ -->
    <table id="table2" border="2px" class="tbl">
        <tr class="tblHeading">
            <td colspan="8">
                    Time table:BS(SE) 1st-Morning
            </td>
        </tr>
        <tr>
            <th>S.N</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Tharsday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            <th>1</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>2</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>3</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>4</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>5</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
        <tr>
            <th>6</th>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
            <td>fg</td>
        </tr>
    </table>
   </section> 
</body>
</html>